@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello Mom,</h1>
    <p>Check out the actual todoList, <a asp-controller="TodoItem" asp-action="Index">eh</a>?</p>
</div>
